Trains/Trains/bin/
Trains/Trains/obj/
*.suo
Trains/Trains.FunctionalTest/obj/
Trains/Trains.FunctionalTest/bin/
*.user
Trains/packages/
Trains/Trains.Test/bin/
Trains/Trains.Test/obj/
Trains/Trains.IntegrationTest/obj/
Trains/Trains.IntegrationTest/bin/
